<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <br>
    <div class="parent">
      <div class="left">
        <form method="GET" action="/Day3">
          <input type="submit" value="Day3">
        </form>
        <br>
        <form method="GET" action="/Day6">
          <input type="submit" value="Day6">
        </form>
        <br>
        <form method="GET" action="/Day7">
          <input type="submit" value="Day7">
        </form>
        <br>
        <form method="GET" action="/Day9">
          <input type="submit" value="Day9">
        </form>
        <br>
        <form method="GET" action="/Day10">
          <input type="submit" value="Day10">
        </form>
        <br>
        <form method="GET" action="Day11">
          <input type="submit" value="Day11">
        </form>
      </div>
      <div class="center">        
        <form method="GET" action="Day12">
          <input type="submit" value="Day12">
        </form>
        <br>
        <form method="GET" action="Day14">
          <input type="submit" value="Day14">
        </form>
        <br>
        <form method="GET" action="Day15">
          <input type="submit" value="Day15">
        </form>
        <br>
        <form method="GET" action="Day18">
          <input type="submit" value="Day18">
        </form>
        <br>
        <form method="GET" action="Day19">
          <input type="submit" value="Day19">
        </form>
        <br>
        <form method="GET" action="Day20">
          <input type="submit" value="Day20">
        </form>
      </div>
      <div class="right">
        <form method="GET" action="Day21">
          <input type="submit" value="Day21">
        </form>
        <br>
        <form method="GET" action="Day22">
          <input type="submit" value="Day22">
        </form>
        <br>
        <form method="GET" action="Day23">
          <input type="submit" value="Day23">
        </form>
        <br>
        <form method="GET" action="Day24">
          <input type="submit" value="Day24">
        </form>
        <br>
        <form method="GET" action="DayTest">
          <input type="submit" value="DayTest">
        </form>
        <br>
      </div>
  </body>
</html>
